$colorBoton: #191c1f;

.login, .registro{
    
    h1{
        font-size: 18px;
        text-align: center;
        margin: 10px 0px;
    }
    img{
        width: 100px;
        display: block;
        margin: auto;
    }
    .cuerpo-login{
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        form{
            label{
                display: block;
                font-size: 15px;
                margin: 0;
            }
            input{
                width: 100%;
                margin: 7px 0px;
                border: 1px solid rgba(128, 128, 128, 0.346);
                border-radius: 6px;
                outline: none;
                padding: 3px 7px;
            }

            button{
                margin-top: 10px;
                width: 100%;
                padding: 5px;
                outline: none;
                border-radius: 6px;
                background: $colorBoton;
                color: #fff;
                border: 2px solid $colorBoton;
                margin-bottom: 1rem;
            }
        }
        p{
            margin: 0;
        }
        a{
            text-decoration: none;
        }
        .error-cuerpo{
            background: rgba(249, 68, 68, 0.65);
            padding: 10px;
            font-size: 13px;
            border: 2px solid rgba(249, 68, 68, 0.892);
            border-radius: 6px;
            margin-bottom: 1rem;
        }
    }
}