$colorGris: #444444;
$colorVerde: #00a54f;
$colorRadar: #cfaa06;

.tarjetProd{
    margin-top: 6rem;
    color: #212529;

    .pruebas{ 
        .TarjetaContenedorVista{
            width: 397px;
            height: 227px;
            padding: 10px;
            background-size: cover;
            display: block;
            margin: auto;
            border-radius: 11px;
            box-shadow:
            2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
            6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
            100px 100px 80px rgba(0, 0, 0, 0.07)
            ;

            @media screen and (max-width: 575px){
                width: 100%;
                height: 195px;
            }

            .circulo{
                width: 55px;
                height: 50px;
                position: relative;
                left: 20px;
                top: 150px;

                @media screen and (max-width: 575px){
                    top: 120px

                }
            }

            .mano{
                position: relative;
                width: 50px;
                height: 50px;
                right: 60px;
                top: 170px;
    
                @media screen and (max-width: 575px){
                    top: 140px;
                    right: 65px;
                }
            }
            
        }
        p{
            font-size: 13px;
            margin-bottom: 5px;
            margin-left: 25px;
            @media screen and (max-width: 575px){
                margin-left: 0px;
            }
        }
    }

    canvas{
        border-radius: 11px;
        display: block;
        margin: auto;
    }

    h5{
        color: $colorGris;
    }

    .teEnvio{
        h3{
            @media screen and (max-width: 575px){
                font-size: 23px;
            }
        }
        h4{
            @media screen and (max-width: 575px){
                font-size: 19px;
            }
        }
        p{
            font-size: 13px;
        }
    }
    .banner{
        img{
            border-radius: 11px;
        }
        @media screen and (max-width: 575px){
            padding: 0;
        }
        p{
            text-align: center;
            font-size: 12px;
            margin: 0;
            margin-top: 5px;
        }
        a{
            text-decoration: none;
            padding: 5px 10px;
            color: #fff;
            border-radius: 6px;
            background: $colorVerde;
        }
    }

    .slider{
        i{
            color: #212529!important;
        }
        img{
            width: 300px;
            display: block;
            margin:auto;
        }

        .slick-prev:before, .slick-next:before{
            color: #212529;
        }
    }

    .boton{
        margin: 2rem 0;
        a{
            text-decoration: none;
            padding: 5px 10px;
            color: #fff;
            border-radius: 6px;
            background: $colorVerde;
        }
    }
}

.tarjetSite{
    margin:0;
    margin-top: 4.3rem;
    padding-bottom: 3rem;
    background: #fff;

    @media screen and (max-width: 575px){
        margin-top: 4.2rem;
    }

    .encabezado {
        img{
            border-radius: 0 0 60px 60px;   
        }
    }

    .perfil{

    margin-top: -30px;

    @media screen and (max-width: 575px){
        padding: 0 20px;
    }
    .contenedor{
        display: flex;
        align-items: center;
        gap: 20px;

        img{
            border-radius: 100%;
            width: 25%;
            border: 4px solid #fff;

            @media screen and (max-width: 575px){
                width: 33%;
            }
        }
        h5{
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            margin-bottom: 0;
            margin-top: 25px;

            @media screen and (max-width: 575px){
                font-size: 1.1rem;
            }
        }
        p{
            font-weight: 400;
            margin-bottom: 0;
            font-size: 1.1rem;
            text-transform: capitalize;

            @media screen and (max-width: 575px){
                font-size: 1rem;
            }
        }
    }

    }

    i{
        font-size: 28px;
    }
    .whats{
        color: #51cf5f;
    }
    .email{
        color: #ff9811;
    }
    .ubication{
        color: #c00909;
    }
    .tarjeta{
        color: #212529;
        cursor: pointer;
    }
    .world{
        color: #007bff;
    }

    .contacto2{
        margin: 20px 0;

        @media screen and (max-width: 575px){
            padding: 0px 30px ;
        }
        
        .contacto-div{
            // background: #1C5B77;
            padding: 0px 0px 0px 15px;
            border-radius: 15px;
            display: flex;
            justify-content: between;
            height: 60px;

            a{
                display: flex;
                width: 87%;
                align-items: center;
                text-decoration: none;
                color: #000;
                cursor: pointer;
            }
            .icon{
                width: 20%;
                // background: #0F8C54;
                justify-content: center;
                border-radius: 0px 15px 15px 0px;

                img{
                    width: 70%;

                    @media screen and (max-width: 575px){
                        width: 75%;
                    }
                }
            }
            .save{
                cursor: pointer;
            }
        }
    }

    .Servicios1{
        padding: 20px 0;
        h5{
            text-align: center;
            font-family: 'IvyModeRegular', sans-serif;
            font-weight: bold;
        }

        img{
            width: 15%;
            display: block;
            margin: auto;
            padding: 20px 0;

            @media screen and (max-width: 575px){
                width: 25%;
            }
        }
        h6{
            font-weight: bold;
        }
        ul{
            margin-bottom: 0;
        }
    }

    .Servicios2{
        padding: 20px 0;

        .icon{
            img{
                width: 15%;
                display: block;
                margin: auto;
                border-radius: 0;

                @media screen and (max-width: 575px){
                    width: 25%;
                }
            }
        }
        h5{
            font-family: 'IvyModeRegular', sans-serif;
            text-align: center;
            font-weight: bold;
            padding: 20px 0;
            margin-bottom: 0;
        }
        img{
            display: block;
            margin: auto;
            width: 75%;
            border-radius: 35px;
            margin-bottom: 20px;

            @media screen and (max-width: 575px){
                width: 100%;
            }
        }
        h6{
            text-align: center;
            font-size: 1.2rem;
        }

        .card-mxm{
            background: #000;
            margin-top: 20px;
            border-radius: 50px 50px 0 0;
            color: #fff;
            padding: 40px 0 20px 0;

            .mxm-title-h5{
                font-family: 'IvyModeLight';
                line-height: 28px;
                padding: 0;

                span{
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: lighter;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    font-size: 1.35rem;
                }
            }
            video{
                width: 100%;
            }
            .logo-pequeño{
                width: 10%;
                border-radius: 0;
                margin-bottom: 0;
            }
            .frase{
                text-align: center;
                padding: 20px 0;
                font-family: 'IvyModeLight';
                margin-bottom: 0;
                letter-spacing: 3px;
            }
            .nombre-title{
                font-family: 'Times New Roman', Times, serif;
                text-transform: uppercase;
                padding: 0;
                font-size: 1.70rem;
                letter-spacing: 5px;
                font-weight: lighter;
            }
            .btn-mxm{
                display: block;
                margin: auto;
                padding: 7px;
                margin-top: 20px;
                width: 35%;
                outline: none!important;
                border: none;
                font-family: 'IvyModeLight';
                color: #fff;
                background: #1c1f2a;
                border-radius: 10px;
                letter-spacing: 3px;
                font-size: 1.10rem;

                @media screen and (max-width: 575px){
                    width: 45%;
                }
            }
            .hr-mxm{
                margin-top: 50px;
                border-color: #656464;
                width: 90%;
            }
        }
    }

    .img-promo{
        margin-bottom: 20px;
        img{
            width: 100%;
        }
    }

    .redesRediseño{
        padding: 20px;

        h5{
            font-weight: bold;
            text-align: center;
        }

        .iconos{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .desactivado{
                pointer-events: none;
            }

            img{
                width: 50%;
                display: block;
                margin: auto;
                cursor: pointer;

                @media screen and (max-width: 575px){
                    width: 65%;
                }
            }
            button{
                width: 50%;
                border: none;
                padding: 0;
                margin: 0;

            }
        }
    }

    .sliderServicios{
        i{
            color: #212529;
        }
        .cuerpo{
            padding: 0 10px;
            // height: 180px;
            height: 130px;
            @media screen and (max-width: 575px){
                // height: 230px;
                height: 150px;
            }
        }
    }

    .Promo{
        padding: 20px 0;

        h4{
            text-align: center;
            font-family: 'IvyModeRegular',sans-serif;
            font-weight: bold;
            color: #055b7d;
        }
        p{
            text-transform: uppercase;
            color: #57585f;
            text-align: center;

            span{
                font-size: 1.4rem;
                text-transform: lowercase;
            }
        }

        .cuerpo{
            width: 100%;
            border-radius: 30px;
            background: #ecf0f8;
            padding: 40px 20px;
            text-align: center;

            img{
                display: block;
                margin: auto;
                margin-bottom: 20px;
            }

            .logoTarjet{
                width: 25%;

                @media screen and (max-width: 575px){
                    width: 40%;
                }
            }
            h5{
                margin-bottom: 25px;
                span{
                    color: #2b5035;
                    font-weight: bold;
                }
            }
            .contact{
                color: #57585f;
                margin-bottom: 20px;
            }
            a{
                padding: 10px 20px;
                border-radius: 10px;
                color: #fff;
                font-weight: bold;
                text-decoration: none;
                display: block;
                width: 70%;
                margin: auto;
                margin-bottom: 20px;
                
                @media screen and (max-width: 575px){
                    width: 100%;
                }

                br{
                    display: none;
                    @media screen and (max-width: 575px){
                        display: block;
                    }
                }

                span{
                    font-weight: 400;
                }
            }
            .btn-verde{
                background: #03894a;
            }
            .btn-naranja{
                background: #ff6b0f;
            }
            .btn-morado{
                background: #5f6e9f;
                margin-bottom: 0;
            }
            .img-promo{
                width: 40%;

                @media screen and (max-width: 575px){
                    width: 70%;
                }
            }
        }
    }

    .teInvitamos{
        a{
            display: block;
            margin: auto;
            text-align: center;
            color: #038950;
            text-decoration: underline;
            font-size: 1.2rem;
        }
    }
    
    .masServicios{
        i{
            color: #212529;
        }
        .cuerpo{
            // background: #fff;
            border-radius: 11px;
            padding: 10px 15px;

            @media screen and (max-width: 575px){
                padding: 10px 5px;
            }

            p{
                text-align: center;
                font-size: 1.1rem;
            }
            .subtitulo{
                text-align: left;
                font-weight: bold;
                text-transform: uppercase;
            }
            // height: 350px;
            // @media screen and (max-width: 575px){
            //     height: 330px;
            // }

            img{
                display: block;
                margin: auto;
                cursor: pointer;
                border-radius: 11px;
                box-shadow:
                0.2px 0.2px 1.9px rgba(0, 0, 0, 0.018),
                0.5px 0.5px 4.3px rgba(0, 0, 0, 0.026),
                1px 1px 7.7px rgba(0, 0, 0, 0.032),
                1.6px 1.6px 12.8px rgba(0, 0, 0, 0.038),
                2.6px 2.6px 21.2px rgba(0, 0, 0, 0.044),
                4.6px 4.6px 37px rgba(0, 0, 0, 0.052),
                10px 10px 80px rgba(0, 0, 0, 0.07)
                ;
            }
        }
        .slick-prev:before, .slick-next:before{
            color: #212529;
        }
        video{
            border-radius: 11px;
        }
    }

    .btn-contacto{
        button{
            background: transparent;
            display: block;
            margin: auto;
            border: 1px solid rgba(128, 128, 128, 0.478);
            padding: 3px 10px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            outline: none;
        }
    }

    .redesSociales{
        .cuerpo{
            // background: #fff;
            // border-radius: 10px;
            padding: 10px;

            // box-shadow:
            // 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
            // 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            // 12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
            // 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            // 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
            // 100px 100px 80px rgba(0, 0, 0, 0.07)
            // ;
            
            a{
                text-decoration: none;
                color: #212529;

                i{
                    font-size: 40px;
                    margin-bottom: 0;
                }
                img{
                    width: 60px;
                }
            }
            .desactivado{
                pointer-events: none;
                img{
                    filter: grayscale(100%);
                }
                filter: grayscale(100%);
            }
            button{
                background: none;
                outline: none;
                border: none;
                color: #212529;
                padding: 0;
                img{
                    padding: none;
                    width: 60px;
                }
            }
        }
    }

    .redesSociales2{
        .contenedor{
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 15px;
            border-radius: 8px;
        }
        .cuerpo{
            padding: 10px;
            flex-wrap: wrap;
            gap: 40px;
            // justify-content: center;

            @media screen and (max-width: 575px){
                gap: 30px;
                justify-content: start;
            }

            a{
                text-decoration: none;
                color: #212529;

                i{
                    font-size: 40px;
                    margin-bottom: 0;
                }
                img{
                    width: 60px;
                }
            }
            .desactivado{
                pointer-events: none;
                img{
                    filter: grayscale(100%);
                }
                filter: grayscale(100%);
            }
            button{
                background: none;
                outline: none;
                border: none;
                color: #212529;
                padding: 0;
                img{
                    padding: none;
                    width: 60px;
                }
            }
        }
    }
}

.bgMxm{
    background: #F2E6E2;
}